/********************************************************************
*
* Defaults
*
********************************************************************/
html, body {
    overflow: visible !important;
}

body {
    min-height: 500px;
    padding-top: 70px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6, .navbar {
    font-family: 'museo300', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a:hover {
    text-decoration: inherit !important;
}

@font-face {
    font-family: 'museo300';
    src: url('../fonts/museo300-regular-webfont.eot');
    src: url('../fonts/museo300-regular-webfont.eot?#iefix') format('embedded-opentype'),  url('../fonts/museo300-regular-webfont.woff') format('woff'),  url('../fonts/museo300-regular-webfont.ttf') format('truetype'),  url('../fonts/museo300-regular-webfont.svg#museo300') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'museo500';
    src: url('../fonts/museo500-regular-webfont.eot');
    src: url('../fonts/museo500-regular-webfont.eot?#iefix') format('embedded-opentype'),  url('../fonts/museo500-regular-webfont.woff') format('woff'),  url('../fonts/museo500-regular-webfont.ttf') format('truetype'),  url('../fonts/museo500-regular-webfont.svg#museo500') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'museo700';
    src: url('../fonts/museo700-regular-webfont.eot');
    src: url('../fonts/museo700-regular-webfont.eot?#iefix') format('embedded-opentype'),  url('../fonts/museo700-regular-webfont.woff') format('woff'),  url('../fonts/museo700-regular-webfont.ttf') format('truetype'),  url('../fonts/museo700-regular-webfont.svg#museo700') format('svg');
    font-weight: normal;
    font-style: normal;
}

/********************************************************************
*
* Something is messing up bootstrap styles, force them to inherit
*
********************************************************************/
.lrn-auth input[type="text"] {
    height: inherit !important;
}

.lrn-auth .pager li > a {
    height: inherit !important;
}

.lrn-auth .pager li > div {
    height: 39px !important;
}

.learnosity-assess iframe {
    position: inherit !important;
}

table {
    border-collapse: inherit !important;
}

th {
    border: 0px !important;
    border-left: 1px solid #ddd !important;
    border-bottom-width: inherit !important;
}

td {
    border: 0px !important;
    border-left: 1px solid #ddd !important;
    border-top: 1px solid #ddd !important;
}

.logo {
    background: url('../images/logo-square.png') no-repeat center left;
    padding-left: 40px;
    height: inherit;
}

/********************************************************************
*
* Reports API section
*
********************************************************************/
.slides {
    width: 100% !important;
}
.slides, .slides section {
    top: 5px !important;
}
.slides section {
    text-align: left;
}
.slides section .report-title {
    text-align: center;
    position: relative;
    top: -15px;
}
.reveal .controls {
    position: relative;
    top: -78px;
    left: 88%;
}
.reveal .controls div.navigate-right {
    border-left-color: rgb(34, 26, 26);
}
.reveal .controls div.navigate-left {
    border-right-color: rgb(34, 26, 26);
}
#footer {
    background-color: #fff;
}
#report-selector {
    width: 86%;
    position: relative;
    z-index: 10;
}

#editor {
    width: 100%;
    height: 300px;
    border: 1px solid #eee !important;
    font-size: 13px !important;
}

.modal-dialog {
   width: 70%;
}

@media (max-width: 768px) {
   .modal-dialog {
        width:90%;
   }
}

/********************************************************************
*
* Initialisation preview
*
********************************************************************/
.preview pre {
   background-color: ghostwhite;
   border: 1px solid silver;
   padding: 10px 20px;
   margin: 20px;
}

.preview .json-key {
   color: brown;
}

.preview .json-value {
   color: navy;
}

.preview .json-string {
   color: olive;
}

/********************************************************************
*
* Questions API
*
********************************************************************/
.formula-latex {
  float: right;
  position: relative;
  z-index: 10;
}
.formula-latex code {
  padding: 5px;
  font-size: 1.2em;
  float: right;
  clear: right;
}
.formula-latex h4 {
  text-align: right;
  float: right;
}

/********************************************************************
*
* Question Editor API
*
********************************************************************/
.asset-img-gallery img {
  cursor: pointer;
  max-height: 88px;
  display: inline-block;
  margin-top: 5px
}
.gallery-wrapper {
  overflow-y: scroll;
  min-height: 250px;
  max-height: 250px;
}

/********************************************************************
*
* Security Check
*
********************************************************************/
#serverresponse{ min-height: 75px;}

#concatenation span.conpart {color: #762;}
#concatenation span.conpart2 {color: #555;}

#actJson {margin: 0;}

#securityForm pre {
    word-wrap: break-word;
}

/********************************************************************
*
* Codemirror styles
*
********************************************************************/
.cm-s-default {border: 1px solid #CCC;}
.cm-s-default span.cm-keyword {color: #708;}
.cm-s-default span.cm-atom {color: #219;}
.cm-s-default span.cm-number {color: #164;}
.cm-s-default span.cm-def {color: #00f;}
.cm-s-default span.cm-variable {color: black;}
.cm-s-default span.cm-variable-2 {color: #05a;}
.cm-s-default span.cm-variable-3 {color: #0a5;}
.cm-s-default span.cm-property {color: black;}
.cm-s-default span.cm-operator {color: black;}
.cm-s-default span.cm-comment {color: #a50;}
.cm-s-default span.cm-string {color: #a11;}
.cm-s-default span.cm-string-2 {color: #f50;}
.cm-s-default span.cm-meta {color: #555;}
.cm-s-default span.cm-error {color: #f00;}
.cm-s-default span.cm-qualifier {color: #555;}
.cm-s-default span.cm-builtin {color: #30a;}
.cm-s-default span.cm-bracket {color: #cc7;}
.cm-s-default span.cm-tag {color: #170;}
.cm-s-default span.cm-attribute {color: #00c;}

/********************************************************************
*
* Worked Solutions hints
*
********************************************************************/
.hints {
    font-size: 85%;
}
.hint {
    padding: 15px 0 5px 0;
    line-height: 16px;
}
.hint:last-child {
    border: none;
}

.nav-tabs {
    margin-bottom: 15px;
}

/********************************************************************
*
* Data API
*
********************************************************************/
.panel-title .block {
    background-color: #0686c4;
    color: #eee;
    position: relative;
    left: -15px;
    border: 1px solid transparent;
    padding: 10px 15px;
    text-transform: uppercase;
}

/********************************************************************
*
* Home page
*
********************************************************************/
.landing .panel-heading {
    padding: 20px 0;
}
.landing .panel-heading h2 {
    font-size: 25px;
    text-align: center;
}
.landing .panel {
    min-height: 327px;
}
.landing ul.list-unstyled {
    margin-bottom: 0;
}
.landing ul.list-unstyled li {
    padding-bottom: 8px;
}
.landing ul.list-unstyled li a {
    font-size: 110%;
}
.landing-heading {
    text-align: center;
    padding-top: 0;
    margin-top: 2px;
    margin-bottom: 15px;
}
