/********************************************************************
*
* Defaults
*
********************************************************************/
html, body {
    overflow: visible !important;
    overflow-x: hidden !important;
}


body {
    min-height: 500px;
    font-family: Gilroy,sans-serif;
    line-height: 1.6;
    letter-spacing: .01em;
    color: #143746;
    background-color: #fff;
    position: relative;
    margin: 0;
    -webkit-font-smoothing: antialiased
}

h1, h2, h3, h4, h5, h6, .navbar {
    font-family: Gilroy, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


@font-face {
    font-family: Gilroy;
    src: url(../fonts/Gilroy-Medium.otf);
    font-weight: 400
}

@font-face {
    font-family: Gilroy;
    src: url(../fonts/Gilroy-Bold.otf);
    font-weight: 700
}

:root {
    --font: "Gilroy", sans-serif;
    --font-size: 1rem;
    --font-size-body: 1.125rem;
    --font-size-lg: 1.375rem;
    --font-size-sm: 0.875rem;
    --line-height: 1.6;
    --heading-font-size-xl: 2.625rem;
    --heading-font-size-lg: 2.375rem;
    --heading-font-size-md: 1.75rem;
    --heading-font-size-sm: 1.5rem;
    --heading-font-size-xs: 1.375rem;
    --heading-font-size-xs: var(--font-size-lg);
    --colour-white: #fff;
    --colour-off-white: #f6f9fe;
    --colour-grey-lightest: #f3f3f3;
    --colour-grey-light: #e5e5e5;
    --colour-grey: #aaa;
    --colour-grey-dark: #858585;
    --colour-black: #000;
    --colour-red: #ef3232;
    --colour-red-dark: #d70000;
    --colour-blue-light: #3287f9;
    --colour-blue: #2559ee;
    --colour-blue-dark: #1045d5;
    --colour-teal: #143746;
    --colour-teal-light: #375461;
    --colour-teal-lightest: #5a727d;
    --colour-yellow: #ffcd19;
    --colour-orange: #ff8200;
    --colour-black-opaque: rgba(0, 0, 0, .2);
    --colour-white-opaque: hsla(0, 0%, 100%, .5);
    --colour-teal-opaque: rgba(20, 55, 70, .2);
    --facebook-blue: #3b5998;
    --twitter-blue: #00aced;
    --linkedin-blue: #007bb6;
    --google-red: #dd4b39;
    --pinterest-red: #cb2027;
    --youtube-red: red;
    --flickr-pink: #ff0084;
    --container-max-width: 80rem;
    --container-max-width-wide: 90rem;
    --container-max-width-narrow: 42.5rem;
    --gutter: 1.25rem;
    --transition: 0.2s;
    --letter-spacing: 0.01em;
    --border-radius: 0.625rem;
    --z-index-menu: 90;
    --z-index-modal: 100;
    --shadow: 0 0 1.875rem 0 rgba(20, 55, 70, .2);
    --shadow: 0 0 1.875rem 0 var(--colour-teal-opaque)
}

.index .panel.panel-default:hover {
    transform: translateY(-0.55rem);
}

.index .panel.panel-default {
    transition: transform 0.25s linear;
}

.panel.panel-default {
    min-height:260px;
    position: relative;
    padding: 2.1875rem 1.875rem;
    border-radius: 10px;
    margin: 1.25rem;
    background-color: #fff;
    -webkit-box-shadow: 0 0 1.875rem 0 rgba(20,55,70,.2);
    box-shadow: 0 0 1.875rem 0 rgba(20,55,70,.2);
}

.panel .panel-heading {
    background-color: #fff;
    border-color:  #fff;
}
.panel .panel-heading h3 {
    font-size: 18px;
    font-weight:700;
}

.panel .panel-body a {
    font-weight:700;
}

.panel .panel-body a.demo_link {
    position: absolute;
    bottom:20px;
    right:20px;
    display: inline-block;
    height:34px;
    width:80px;
    max-width: 100%;
    font-size: 16px;
    line-height: 1.25em;
    font-weight: 700;
    padding-top:8px;
    text-align: center;
    color: #fff;
    background-color: #CE0E2D;
    border-radius: .5em;

}

.panel .panel-body a.demo_link:hover {
    background-color: #d70000;
    text-decoration: none;
}

.icon-bar {
    background-color: #000000;
}

.section.index .row {
    margin-left:-15px;
    margin-right:-15px;
}

.section.index .row [class^=col-] {
    padding-left:0px;
    padding-right:0px;
}

.lightweight {
    font-weight:400;
}

.section.pad-sml {
    min-height:260px;
    position: relative;
    padding: 2.1875rem 1.875rem;
    border-radius: 10px;
    margin: 1.25rem;
    background-color: #fff;
    -webkit-box-shadow: 0 0 1.875rem 0 rgba(20,55,70,.2);
    box-shadow: 0 0 1.875rem 0 rgba(20,55,70,.2);
}

.panel.panel-default.main-page-panel {
    min-height:400px;
    text-align:center;
}

.panel.panel-default.main-page-panel .panel-heading h2{
    font-size: 28px;
    font-weight:700;
}

.panel.panel-default.main-page-panel .panel-body {
    font-size: 18px;
}

.panel.panel-default.main-page-panel.panel-short {
    min-height:180px;
}

.panel.panel-default.panel-data {
    min-height:60px;
}

.footer .section {
    background-color: #143746;
    text-align: left;
    padding:40px 0;
    margin-bottom:0px;
    line-height:25px;
    min-height: 150px;
}

.footer .section .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    text-align: center;
    padding-left: 8%;
    padding-right: 8%;
    margin: 0;
}

.footer .section .row [class^='col-'] {
    padding: 0;
    margin: 0;
}

.footer .section a {
    font-size: 17px;
    color: white;
    font-weight: 700;
    display: inline-block;
    padding: 12px;
    margin: 0;
}

.footer-links {
    text-align: right;
}

@media (min-width: 95em) {
    .footer .section a {
        padding: 22px;
    }
}

@media (max-width: 85em) {
    .footer .section .row {
        padding-left: 3%;
        padding-right: 3%;
    }
}

@media (max-width: 1199px) {
    .footer .section .row {
        display: block;
        justify-content: space-between;
        align-items: center;
        padding: 10px 30px;
    }

    .footer-links {
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .footer .section a {
        padding: 20px;
    }
}

@media (max-width: 480px) {
    .footer .section {
        text-align: center;
    }
    .footer .logo {
        padding-bottom: 30px;
    }
    .footer .section a {
        display: block;
        padding: 5px;
    }
    .footer .section .row {
        padding-left: 1%;
        padding-right: 1%;
    }
}


/********************************************************************
*
* Reports API section
*
********************************************************************/
.slides {
    width: 100% !important;
}

.slides, .slides section {
    top: 5px !important;
}

.slides section {
    text-align: left;
}

.slides section .report-title {
    text-align: center;
    position: relative;
    top: -15px;
}

.reveal .controls {
    position: relative;
    top: -78px;
    left: 88%;
}

.reveal .controls div.navigate-right {
    border-left-color: rgb(34, 26, 26);
}

.reveal .controls div.navigate-left {
    border-right-color: rgb(34, 26, 26);
}

#footer {
    background-color: #fff;
}

#report-selector {
    width: 86%;
    position: relative;
    z-index: 10;
}

#editor {
    width: 100%;
    height: 300px;
    border: 1px solid #eee !important;
    font-size: 13px !important;
}

.modal-dialog {
    width: 70%;
}

@media (max-width: 790px) {
    .modal-dialog {
        width: 90%;
    }
}

.lrn-single-report {
    width: 100px;
    height: 100px;
    line-height: 100px;
}

.lrn-single-reports {
    margin-bottom: 15px;
    text-align: center;
}

.lrn-single-reports td {
    border: 0 none !important;
    padding: 10px;
}

/********************************************************************
*
* Initialisation preview
*
********************************************************************/
.preview pre {
    background-color: ghostwhite;
    border: 1px solid silver;
    padding: 10px 20px;
    margin: 20px;
}

.preview .json-key {
    color: brown;
}

.preview .json-value {
    color: navy;
}

.preview .json-string {
    color: olive;
}

/********************************************************************
*
* Questions API
*
********************************************************************/
.formula-latex {
    float: right;
    position: relative;
    z-index: 10;
}

.formula-latex code {
    padding: 5px;
    font-size: 1.2em;
    float: right;
    clear: right;
}

.formula-latex h4 {
    text-align: right;
    float: right;
}

/********************************************************************
*
* Question Editor API
*
********************************************************************/
.asset-img-gallery img {
    cursor: pointer;
    max-height: 88px;
    display: inline-block;
    margin-top: 5px
}

.gallery-wrapper {
    overflow-y: scroll;
    min-height: 250px;
    max-height: 250px;
}


/********************************************************************
*
* Codemirror styles
*
********************************************************************/
.cm-s-default {
    border: 1px solid #CCC;
}

.cm-s-default span.cm-keyword {
    color: #708;
}

.cm-s-default span.cm-atom {
    color: #219;
}

.cm-s-default span.cm-number {
    color: #164;
}

.cm-s-default span.cm-def {
    color: #00f;
}

.cm-s-default span.cm-variable {
    color: black;
}

.cm-s-default span.cm-variable-2 {
    color: #05a;
}

.cm-s-default span.cm-variable-3 {
    color: #0a5;
}

.cm-s-default span.cm-property {
    color: black;
}

.cm-s-default span.cm-operator {
    color: black;
}

.cm-s-default span.cm-comment {
    color: #a50;
}

.cm-s-default span.cm-string {
    color: #a11;
}

.cm-s-default span.cm-string-2 {
    color: #f50;
}

.cm-s-default span.cm-meta {
    color: #555;
}

.cm-s-default span.cm-error {
    color: #f00;
}

.cm-s-default span.cm-qualifier {
    color: #555;
}

.cm-s-default span.cm-builtin {
    color: #30a;
}

.cm-s-default span.cm-bracket {
    color: #cc7;
}

.cm-s-default span.cm-tag {
    color: #170;
}

.cm-s-default span.cm-attribute {
    color: #00c;
}

/********************************************************************
*
* Worked Solutions hints
*
********************************************************************/
.hints {
    font-size: 85%;
}

.hint {
    padding: 15px 0 5px 0;
    line-height: 16px;
}

.hint:last-child {
    border: none;
}

.nav-tabs {
    margin-bottom: 15px;
}

/********************************************************************
*
* Data API
*
********************************************************************/
.panel-title .block {
    background-color: #0071CE;
    color: #FFFFFF;
    position: relative;
    left: -15px;
    border: 1px solid transparent;
    padding: 10px 15px;
    text-transform: uppercase;
}

/********************************************************************
*
* Reports API
*
********************************************************************/
.lrn-reports-vertical-content {
    margin-left: -1px;
    min-width: 750px;
    width: 880px;
    border-left: 1px solid #ddd;
    padding-left: 30px;
}

.lrn-nav-tabs {
    min-width: 250px;
    width: 250px;
    height: 100%;
}

.lrn-nav-reports ul.nav-tabs .padding {
    height: 37px;
}

.lrn-reports-content {
    min-width: 1100px;
    height: 100%;
}

.lrn-reports-summary {
    font-size: 13px;
}

.lrn-nav-reports ul {
    height: 100%;
}

.lrn-reports-demo-wrapper {
    padding: 20px;
}

.lrn-switch input {
    position: absolute;
    opacity: 0;
}

:root .lrn-switch-trigger {
    display: inline-block;
    width: 4.28571em;
    height: 1.85714em;
    padding: 0.14286em;
    overflow: hidden;
    border-radius: 2px;
    border: 1px solid transparent;
    font-size: 1em;
    color: #fff;
    background: #e58a84;
    transition-duration: .2s;
    transition-property: padding, background-position, text-indent;
    cursor: pointer;
}

:root .lrn-switch-trigger:before {
    content: 'Yes';
    border-radius: 2px;
    background: #e8e8e8;
    text-indent: -2em;
}

:root .lrn-switch-trigger:before, :root .lrn-switch-trigger:after {
    display: inline-block;
    width: 1.57143em;
    height: 1.42857em;
    line-height: 1.5;
}

:root .lrn-switch-trigger:after {
    content: 'No';
    text-indent: 0.57143em;
}

:root .lrn-switch-trigger:before, :root .lrn-switch-trigger:after {
    display: inline-block;
    width: 1.57143em;
    height: 1.42857em;
    line-height: 1.5;
}

.lrn *, .lrn *:before, .lrn *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:root .lrn-switch input:checked + .lrn-switch-trigger {
    background-position: 0 0;
    padding-left: 2.42857em;
    background: #6fbc92;
}

/* Fixing report_types responsive issues */
.inner-heading {
    background-color: #fdfdfd !important;
    padding: 0 0 0 0 !important;
    border: none;
}

.inner-heading a {
    padding: 10px 12px 0px 8px !important;
    margin-bottom: 6px;
    backgr55ound-color: yellow;

}

.inner-heading .glyphicon {
    margin-right: 10px;
}

.inner-heading :hover .glyphicon {
    color: #62AE41;
}

.panel-no-border {
    border: none;
    padding-bottom: 0px;
    margin-bottom: 0px;

}

.panel-border-bottom {
    border: none;
    border-bottom: 1px solid #cccccc;
}

.no-padding-bottom {
    padding-bottom: 0px;
}


/********************************************************************
*
* New UI starting 23rd July 2014
*
********************************************************************/
a:focus,
.dropdown-toggle:focus {
    outline: thin dotted #777;
}

.dropdown.open .dropdown-toggle {
    outline: none;
}

.row {
    margin:inherit;
    margin-bottom:0px;
    /*margin-left: 5%;*/
    /*margin-right: 5%;*/
}

.landing .jumbotron {
    padding-left:0px;
    padding-right:0px;
}

.jumbotron .landing-intro {
    padding:15px;
    width:100%;
}

/*.row [class^="col-"] {*/
    /*padding-left: 20px;*/
    /*padding-right: 20px;*/
/*}*/

.glyphicon-question-sign:before {
    color: #e21c47;
}

.glyphicon-cloud-download:before {
    color: #f1bd19;
}

.glyphicon-info-sign:before {
    color: #93d5d9;
}


.jumbotron h1 {
    font-size: 58px;
}

.landing .jumbotron h1 {
    font-size: 63px;
}

.logo {
    padding-left:10px;
    width: 320px;
    margin-right: 10px;
}

.product-logo-small {
    height:60px;
}

.navbar {
    min-height:95px;
    background-color: #fff;
    font-size: 16px;
    letter-spacing: 0.04em;
    border:none;
    margin-bottom:0px;
}

.navbar a {
    border-bottom: 0;
    padding-bottom: 0;
}

.navbar .container {
    padding-top: 25px;
}

.navbar .view_source {
    position: relative;
    display: inline-block;
    height:50px;
    width:180px;
    max-width: 100%;
    font-size: 16px;
    line-height: 1.25em;
    font-weight: 700;
    padding-top:15px;
    text-align: center;
    color: #fff;
    background-color: #CE0E2D;
    border-radius: .5em;

}

.navbar .view_source:hover {
    background-color: #d70000;
}

.navbar a {
    color: #143746;
}

.navbar a.right-chevron:after {
    content: "";
    display: inline-block;
    width: .75em;
    height: .4375em;
    margin-left: .25em;
    margin-bottom: .0625em;
    background-image: url(../images/chevron-icon-red.svg);
    background-size: cover;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg)
}

.navbar a.bottom-chevron:after {
    content: "";
    display: inline-block;
    width: .75em;
    height: .4375em;
    margin-left: .25em;
    margin-bottom: .0625em;
    background-image: url(../images/chevron-icon-red.svg);
    background-size: cover;
}

.navbar li a:hover {
    background-color: #fff;
    color: #ef3232;
    text-decoration:underline;
}

.navbar li a.view_source:hover {
    color: #ffffff;
    text-decoration:none;
}

a {
    color: #2559ee;
}

a.logo:after {
    background-image: none;
    width:0px;
    height:0px;
    margin:0px
}

a.view_source:after {
    background-image: none;
    width:0px;
    height:0px;
    margin:0px
}

a.blue-chevron:after {
    content: "";
    display: inline-block;
    width: .75em;
    height: .4375em;
    margin-left: .25em;
    margin-bottom: .0625em;
    background-image: url(../images/chevron-icon-blue.svg);
    background-size: cover;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg)
}

a:hover {
    color: #2559ee;
    text-decoration: underline;
}

img.product-logo {
    height: 60px;
}

.nav-sec .navbar-nav {
    margin-left: 0;
}

.container .jumbotron {
    border-radius: 0px;
    position: relative;
}


.container .jumbotron.section {
    padding-top:0px;
    padding-bottom: 24px;
}

.section {
    /*padding-top: 24px;*/
    padding-bottom: 30px;
    /*padding-left: 60px;*/
    /*padding-right: 60px;*/
    margin-bottom: 20px;
}

.section.pad-sml {
    margin-left: 0px;
    margin-right: 0px;
    padding-bottom: 24px;
    margin-bottom:48px;
}

.container .jumbotron {
    padding-top: 24px;
    background-color: #fff;
}

.jumbotron h1 {
    font-weight: 100;
    padding: 18px 0 35px;
    border-bottom: 1px solid #ebf0f0;
    letter-spacing: 0.03em;
    margin-bottom: 40px;
}

.jumbotron p {
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.2px;
}

.landing.section {
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.landing .jumbotron p {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    margin-bottom: 40px;
}

.landing-intro {
    width: 85%;
    margin: 0 auto;
}

.landing-intro .pull-left {
    margin-right: 20px;
}

.landing .jumbotron {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.section {
    background-color: #fff;
    /*color: #424d55;*/
    /*border: 1px solid #e9e9e9;*/
    /*webkit-box-shadow: 0 1px 50px rgba(0, 0, 0, 0.04);*/
    /*box-shadow: 0 1px 50px rgba(0, 0, 0, 0.04);*/
    min-height: 280px;
}

.jumbotron.section {
    min-height: 10px;
    padding-left: 0px;
    padding-right: 0px;
}

.landing .jumbotron .glyphicon {
    font-size: 30px;
}

.landing h4 {
    padding-top: 10px;
}

.content-panel {
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.25px;
    border-left: 1px solid #eee;
}

.content-panel ul.list-unstyled li {
    padding-bottom: 2px;
}

.content-panel ul.list-unstyled li:last-child {
    padding-bottom: 8px;
}

.landing-panel {
    border-top: 1px solid #efefef;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 60px;
    margin-right: 60px;
}

.landing-panel:first-child {
    border-top: 1px solid #efefef;
}

.toolbar {
    font-size: 20px;
    padding-top: 15px;
    text-align: right;
}

.toolbar a {
    padding-bottom: 0;
    color: #424d55;
    border-bottom: 0;
}

.toolbar a:hover {
    color: #428bca;
}

.section-intro {
    border-bottom: 1px solid #efefef;
    padding-bottom: 25px;
    margin-bottom: 40px;
}

.hints table {
    border-collapse: collapse !important;
}

.jumbotron .panel-body p {
    margin-top: 5px;
    font-size: 16px;
}

.landing-panel-heading h3 {
    margin-top: 15px;
}

.panel-default > .panel-heading {
    background-image: none;
    padding-top: 15px;
    padding-bottom: 15px;
}

.panel {
    border-radius: 0px;
}

.btn {
    border-radius: 0px;
}

.btn-primary {
    background-image: none;
    background-color: #0071CE;
}

.dropdown-menu > li > a {
    font-weight: 300;
}

.lrn-reports-vertical-content {
    width: 765px;
}

#accordion .panel-heading {
    padding-top: 10px;
    padding-bottom: 10px;
}

.panel-group .panel {
    border-radius: 0px;
}

/* Needed to appear on top of Assess inline */
.modal {
    z-index: 9999;
}

.nav-sec-wrapper {
    display: none;
}

@media (min-width: 1000px) {
    .navbar-nav > li > a {
        padding-left: 10px;
        padding-right: 10px;
    }

    .nav-sec-wrapper {
        float: right;
    }

    /*.nav-sec > li > a {*/
        /*padding-right: 0;*/
        /*padding-top: 18px;*/
    /*}*/
}

@media (min-width: 768px) and (max-width: 991px) {
    .nav-source-text {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0;
    }

    .panel.panel-default {
        margin-left: 0px;
        margin-right: 0px;
    }
}

@media (min-width: 992px) {
    .navbar-nav > li > a {
        padding-left: 20px;
        padding-right: 20px;
    }

    .landing-panel-heading {
        text-align: right;
    }

}

@media (min-width: 1201px) {
    .nav-sec-wrapper {
        display: block;
    }
}

@media (min-width: 1420px) {
    .container {
        width: 1440px;
    }

    .container.container-content {
        width:1280px;
    }
}

#settings .modal-body {
    background-color: #ffffff;
}

#settings .section {
    padding-left: 0px;
    padding-right: 0px;
}

#settings .panel-heading {
    color: inherit;
    background-color: inherit;
    border: none;
}

#settings .panel-info {
    border: none;
}

#settings h3 {
    font-weight: 300;
    padding-bottom: 25px;
    border-bottom: 1px solid #ebf0f0;
    letter-spacing: 0.03em;
}

#settings .form-horizontal .control-label {
    padding-top: 0px;
    font-weight: normal;
}

#settings .form-group {
    margin-bottom: 18px;
}

.learnosity-assess .start-page {
    z-index: 1000 !important;
}

/********************************************************************
*
* Gallery view - /casestudies/items/gallery/
*
********************************************************************/
.gallery-section {
    background-color: #f3f5f5;
    border: 0;
    box-shadow: none;
    min-height: 600px;
}

.gallery {
    width: 100%;
    height: 100%;
    position: relative;
}

.gallery.card-active {
    width: 90%;
    margin: 0 auto;
}

.pod-inner,
.card {
    position: relative;
    z-index: 1;
    background: #fff;
}

.pod-inner:before, .pod-inner:after {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 17px; /* Adjust this to move the shadow up/down */
    left: 10px;
    width: 50%;
    top: 80%;
    max-width: 300px;
    background: #777;
    -webkit-box-shadow: 0 15px 10px #777;
    -moz-box-shadow: 0 15px 10px #777;
    box-shadow: 0 15px 10px #777;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
}

.pod-inner:after {
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
    right: 10px;
    left: auto;
}

.card {
    margin-bottom: 25px;
    min-height: 265px;
}

.card:not(.active) {
    padding: 25px 0;
}

.card.report:not(.active) {
    padding: 25px 0 0 0;
}

.card.active {
    padding: 25px;
}

.card:not(.active) .learnosity-item {
    height: 300px;
    overflow: hidden;
    padding-right: 10px;
    transform: scale(.6);
    margin: -50px -60px -50px -50px;
}

.card:not(.active):before {
    cursor: pointer;
    z-index: 1;
    content: "";
    display: block;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.card:not(.active) .save {
    display: none;
}

.card:not(.active) .cancel {
    display: none;
}

.alert-saved, .spinner {
    display: none;
    width: 200px;
    margin: 0 auto;
    position: absolute;
    left: 40%;
    text-align: center;
    top: 10px;
}

.spinner {
    top: 25px;
}

.pod {
    padding-bottom: 25px;
}

.gallery-section .excerpt-suppress {
    /*display: none;*/
}

.item-status {
    width: 100%;
    height: 35px;
    text-align: right;
    padding-top: 7px;
    padding-right: 20px;
    color: #7C7C7C;
    background-color: #fafafa;
    margin-top: 5px;
}

.passing {
    background-color: #397523;
    color: #fefefe;
}

.failing {
    background-color: #98040c;
    color: #fefefe;
}

.gallery-button {
    z-index: 10;
    background: none;
    border: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    opacity: 0;
    color: #666;
}

.gallery-button:hover,
.gallery-button:focus {
    color: #222;
    outline: 0;
}

.gallery-button-prev {
    left: -86px;
}

.gallery-button-next {
    right: -86px;
}

.gallery-pagination {
    list-style: none;
    padding: 0;
    text-align: center;
    opacity: 0;
}

.gallery-pagination li {
    display: inline-block;
    padding: 0 8px;
}

.gallery-pagination li:hover {
    cursor: pointer;
}

.gallery-pagination li:first-child {
    margin-left: 0;
}

.gallery-pagination button {
    width: 15px;
    height: 15px;
    padding: 0;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
}

.gallery-pagination li:hover button,
.gallery-pagination .active button,
.gallery-pagination button:focus {
    background: #ccc;
    outline: 0;
}

.gallery-button[disabled] {
    color: #bbb;
    cursor: default;
}

.card-active .gallery-button,
.card-active .gallery-pagination {
    opacity: 1;
}

.card-active .gallery-button,
.card-active .gallery-pagination li button {
    transition: all .25s ease-in;
}

textarea.form-control {
    height: 200px;
}

.sortable {
    padding-left: 0;
    width: 100%;
}

.sortable li {
    list-style: none;
    border: 1px solid #ddd;
    background: #F6F6F6;
    margin: 5px 5px 5px 0;
    padding: 5px;
    height: 2em;
    line-height: 1.4em;
}

.sortable li:hover {
    cursor: move;
    border: 1px solid #bbb;
    background: #f9f9f9;
}

.sortable .glyphicon-move {
    font-size: 12px;
    color: #444;
    padding-right: 2px;
}

.panel-title a {
    display: block;
}

/********************************************************************
*
* Visibility Utility
*
********************************************************************/
.hide {
    display: none;
}

/********************************************************************
*
* Spacing Utility
*
********************************************************************/
.margin-top-small {
    margin-top: 15px;
}

.margin-bottom-small {
    margin-bottom: 15px;
}

.display-inline-block {
    display: inline-block;
}

.divider {
    padding-top: 10px;
    margin-bottom: 10px;
    border-bottom: solid 1px #efefef;
}

/********************************************************************
*
* QE - Global Layout test page
*
********************************************************************/
.component-view {
    padding-top: 5px;
    margin-bottom: 20px;
    background: #eee;
    border-radius: 4px;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    text-align: center;
}

.component-view-data {
    display: block;
    border-top: 1px solid #bebebe;
    background: #ccc;
    padding: 5px 0;
}

.place-holder {
    padding: 10px;
    min-height: 150px;
    background: #f8f8f8;
    margin: 10px;
    border-radius: 4px;
    border: 2px dashed #bebebe;
}

.place-holder-title {
    padding-bottom: 5px;
    border-bottom: 1px solid #e9e9e9;
}

.component-view-block {
    margin: 5px;
    border: 1px solid #e9e9e9;
    border-radius: 4px;
}

.component-view-block-content {
    padding: 10px;
}

.component-view-block h4 {
    background-color: #fff;
    font-weight: bold;
    margin: 0 0 10px 0;
    padding: 10px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom: 1px solid #e9e9e9;
}

/********************************************************************
*
* Language demo styles
*
********************************************************************/
.language-button-container {
    display: inline-block;
    margin-right: 25px;
    margin-bottom: 25px;
}

.language-button {
    height: 46px;
    display: flex;
    background-color: #F7F7F7;
    color: black;
    padding-right: 25px;

    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    position: relative;
    transition-property: transform;
    transition-duration: 0.2s;
    align-items: center;
}

.language-button:focus {
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25), inset 0px 0px 0px 1px black;
    outline: none;
}

.language-button:focus,
.language-button-container:hover .language-button {
    text-decoration: none;
    color: black;
    background-color: #EAEAEA;
}

.language-button-container:hover .language-button {
    transform: translate(0px, -5px);
}

.selected {
    background-color: #EAEAEA;
    border: 2px solid #355BD5;
}

.other-language.selected {
    padding: 3px;
}

.language-flag {
    height: 20px;
    width: 28px;
    margin-right: 5px;
    margin-left: 13px;
}

/********************************************************************
*
* Cookie consent banner styles
*
********************************************************************/

#lrn-cookie-banner {
  position: fixed;
  padding: 1em;
  left: 5%;
  bottom: 5%;
  background: #f6f9fe;
  box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  z-index: 1100;
  width: 24%;
}

@media screen and (max-width: 820px) {
  #lrn-cookie-banner {
    width: 90%;
  }
}

@media screen and (max-width: 1400px) and (min-width: 821px) {
  #lrn-cookie-banner {
    width: 40%;
  }
}

#lrn-cookie-banner .lrn-flex-container {
  display: flex;
}

#lrn-cookie-banner .lrn-flex-item {
  flex-grow: 1;
}

#lrn-cookie-banner .lrn-flex-item + .lrn-flex-item {
  margin-left: 1%;
  right: 1%;
}

#lrn-cookie-banner p {
  font-family: 'Lato-Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
}

#lrn-cookie-banner a {
  color: #0071ce;
  text-decoration: underline;
}

#lrn-cookie-banner button {
  border: 1px #00313d solid;
  border-radius: 2px;
  background: #00313d;
  font-family: 'Lato-Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
