iframe {
    border: 1px solid #ccc;
    width: 100%;
    height: 99%;
    background-color: #fff;
}
.container:not(:first-child) {
    width: 99%;
    height: 100%;
    padding-bottom: 10px;
}
.container .row {
    height: 100%;
}
.quad {
    padding: 4px;
    position: relative;
    top: -10px;
    height: 100%;
}
.quad .row {
    margin-bottom: 5px;
    height: 50%;
}
.quad-left {
    padding-right: 5px;
    height: 100%;
}
.quad-right {
    padding-left: 5px;
    height: 100%;
}

.row [class^="col-"] {
    padding-left: 5px;
    padding-right: 5px;
}

.navbar {
    height: 50px;
    margin-bottom: 15px;
}

.navbar .container {
    padding-top: 0px;
}
