
.hr-border {
    height: 4px;
    margin-top: 40px;
    width: 100%;
    background-color: #D9D9D9;
}

.learnosity-item {
    margin-top: 24px;
}

.learnosity-item .col-xs-12 {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: -15px !important;
    margin-right: -15px !important;

}

#manual-grading {
    margin-top: 24px;
}

.mg-grading-next-btn {
    box-shadow: none;
    margin-right: 0;
    margin-left: 5px;
    display: inline-block;
    vertical-align: top;
    max-width: 100%;
    background-color: #1877b1;
    color: #ffffff;
    border: 1px solid #1877b1;
    font-size: 1.25em;
    padding: 0.4em 0.9em;
    line-height: 1.5em;
    border-radius: 2px;
    transition: 0.2s linear background-color, color;
}

.mg-grading-next-btn:disabled {
    color: #696969;
    background-color: #eaeaea;
    border: 1px solid #d9d9d9;
    cursor: not-allowed !important;
    box-shadow: none;
    opacity: 0.8;
}

.mg-grading-next-btn:not(:disabled):hover  {
    background-color: #0b5684;
    color: #fff;
    border: 1px solid #1877b1;
}

.section-alert {
    margin-top: 24px;
    margin-bottom: 42px;
}

.lrn-mg-item-hook:last-child .hr-border {
    display: none;
}

.underline {
    text-decoration: underline;
}

.submit-btn-group {
    float: right;
    margin: 64px 30px 30px 30px ;
}

.btn-spinner {
    border: 4px solid rgba(0, 0, 0, 0.2);
    border-left-color: #000;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*
    #TODO : Work around for the broken styles, will be fixed in the grading API
 */
.lrn-mg .lrn-mg-score-feedback .lrn-mg-max-score-form .lrn-mg-max-score-label {
    padding-top: 0.6em!important;
}

.lrn-mg textarea {
    resize: vertical !important;
}

:is(#lds, body) .lds-mt-5 {
    margin-top: 2.5em !important;
}
