h1, .test-title-text {
    color: cornflowerblue;
    font-size: 130%;
}
h1, h2, p, div, body {
    font-family: Georgia, Times, "Times New Roman", serif;
}
p, div, body {
    font-size: 16px;
}
.subtitle {
    font-size: 130%;
}
