.regions-row {
    clear: both;
    min-height: 40px;
}
.regions-element-dropdown {
    display: flex;
    float: right;
    margin-right: 25px;
    margin-top: 7px;
}
.regions-element-dropdown select {
    float: right;
    width: 100px;
}
.regions-element-summary {
    display: flex;
    align-items: center;
    min-height: 35px;
}
.regionContainer {
    display: block;
    margin: 0 10px;
    height: auto;
}

.regionLabel {
    margin: 0 0 0 25px;
    vertical-align: bottom;
    min-width: 100px;
}
.presetsLabel {
    margin: 0 0 0 25px;
    min-width: 100px;
}
.presetsWrapper {
    display: flex;
    height: 45px;
    float: right;
    margin-top: 20px;
}
.presetsSelector {
    display: inline-block;
    margin: 0 10px;
}
#regionsPresetsSelector {
    width: 150px;
}
.elem-container {
    display: inline-block;
    color: #fff;
    background-color: #1877b1;
    padding: 0;
    font-size: 15px;
    font-family: Helvetica, Arial, sans-serif;
    text-decoration: none;
    white-space: nowrap;
    border-radius: 3px;
    margin: 2px 2px 2px 2px;
}
.elem-label {
    float: left;
    padding: 5px 5px 5px 5px;
}
.close-btn-container {
    float: right;

}
.close-btn {
    vertical-align: top;
    color: #fff;
    background-color: #1877b1;
    border: 0;
    padding: 0 3px;
    margin-right: 2px;
    border-radius: 3px;
    font-size: 15px;
}
.close-btn:hover {
    cursor: pointer;
}
.slider-elem {
    background-color: #44a2d2;
}
