.report-distractor-demo-layout .lrn_widget, .report-distractor-demo-layout .custom-msg
{
    width: 50%;
    float:left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.report-distractor-demo-layout .lrn-report-response-container
{
    margin-right: -15px;
    margin-left: -15px;
    margin-bottom: 1.5em;
}
.report-distractor-demo-layout .lrn-report-response-container:before, .report-distractor-demo-layout .lrn-report-response-container:after
{
    display: table;
    content: " ";
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.report-distractor-demo-layout .lrn-report-response-container:after
{
    clear: both;
}

.custom-msg {
    display: block;
    padding: 1em 1em 1em 4em;
    margin-bottom: 1.5em;
    position: relative;
}

.custom-msg.distractor {
    padding: 0;
    background-color: #c2e0f8;
    background-image: none;
    border-color: transparent;
}
.distractor h3 {
    margin: 0;
    padding: 0.5em;
    line-height: 1em;
    background-color: #208EE5;
    color: #FFF;
}
.distractor-content {
    padding: 1em;
}

#loaderModal img {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -32px;
}
